.desc-edit-page{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.descedit-card{
    width: 600px;
    height: 360px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: onShow 200ms;
}

.close-btn{
    width: 40px;
    height: 40px;
    color: gray;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0px;
    right: 6px;
}

.close-btn:hover{
    color: red;
    cursor: pointer;
}

.descedit-title{
    margin-top: 4px;
    margin-left: 12px;
    padding-top: 8px;
    padding-left: 0px;
}

.desc-input{
    width: 85%;
    height: 280px;
    font-size: 24px;
    margin-top: -28px;
    margin-left: 12px;
    border: 0;
    border-bottom: 1px solid rgb(205, 205, 205);
    display: block;
    color: rgb(18, 18, 18);
    resize: none;
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
    padding-top: 0;
    padding-left: 0px;
    font-size: 22px;
}

.task-add-btn{
    position: absolute;
    top: 0;
    font-size: 32px;
    height: 100%;
    background-color: rgb(113, 222, 113);
    padding: 0 8px;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: 0 12px 12px 0;
    color: white;
    transition: 200ms;
}

.task-add-btn:hover{
    padding: 0 12px;
    background-color: rgb(69, 198, 69);
    color: white;
    transition: 200ms;
    cursor: pointer;
}

@keyframes onShow {
    from{
        top: 100%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}

@media screen and (max-width: 650px){
    .descedit-card{
        width: 70%;
        min-width: 380px;
    }
}

@media screen and (max-width: 420px){
    .descedit-card{
        zoom: 80%;
        min-width: 380px;
    }
}


