.event-add-page{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.event-add-dates{
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    padding-bottom: 12px;
    padding-right: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 24px 0px;
}

.event-add-dates-left{
    width: 100%;
}

.event-add-dates-left > input{
    width: 100%;
    min-width: 100%;
    height: 24px;
    padding: 4px;
    font-family: inherit;
    font-size: 18px;
    outline: 0;
    border: 0;
}

.event-add-dates-right{
    width: 100%;
}

.event-add-dates-right > input{
    width: 100%;
    min-width: 100%;
    height: 24px;
    padding: 4px;
    font-family: inherit;
    font-size: 18px;
    outline: 0;
    border: 0;
}

.date-desc{
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    color: rgb(43, 43, 43);
}

.p2{
    margin-top: 12px;
}

@media screen and (max-width: 580px){
    .event-add-dates{
        margin-top: 24px;
        margin-bottom: 0;
    }
}