.no-tasks-card-wrapper{
    width: 100%;
    height: 400px;
    background-color: rgb(234, 234, 234);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-tasks-card-text{
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    color: rgb(151, 151, 151);
}

@media screen and (max-width: 768px){
    .no-tasks-card-wrapper{
        height: 100%;
    }
}
