.p-task-container{
    width: 90% !important;
    height: fit-content;
    margin-bottom: 4px;
    background-color: rgb(234, 234, 234);
    border-radius: 4px;
    transition-duration: 100ms;
    display: flex;
    min-width: 380px;
    contain: content;
}

.p-task-container:hover{
    transition-duration: 100ms;
    background-color: rgb(223, 223, 223);
}

.p-task-container-start{
    width: 8px !important;
    min-width: 8px;
    height: calc(100%+(height - 100%));
    background-color: var(--med-priority-start);
    border-radius: 4px 0 0 4px;
    z-index: 1;
}

.p-task-info{
    font-size: 18px;
    margin-left: 12px;
    padding-top: 6px;
    color: rgb(42, 42, 42);
}

.p-task-title{
    margin-right: 180px;
}

.p-task-title > h2 {
    margin: 0;
    padding-bottom: 0px;
    padding-top: 8px;
}

.p-task-desc{
    font-size: 16px;
    font-weight: normal;
    width: 70%;
    margin-top: -8px;
    margin-bottom: -2px;
}

.p-task-icons{
    display: flex;
    width: fit-content;
    color: white;
    position: absolute;
    height: 100%;
    right: 0;
}

.p-task-delete{
    width: 40px;
    background-color: rgb(236, 120, 120);
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-task-delete:hover{
    padding: 0 2px;
    transition: 200ms;
    background-color: red;
    cursor: pointer;
}

.p-task-done{
    width: 40px;
    background-color: rgb(113, 222, 113);
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 0 4px 4px 0;
}

.p-task-done:hover{
    padding: 0 2px;
    background-color: rgb(75, 238, 75) !important;
    transition: 200ms;
    cursor: pointer;
}

.pr-indicator{
    width: fit-content;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 12px;
    border-radius: 4px;
    color: white;
    padding: 0 4px;
    font-size: 12px;
    font-weight: bold;
    right: 0;
    margin-right: 100px;
}

.pr-indicator > p{
    line-height: 0px;
    margin-top: 10px;
}

