.p-task-add-page{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.p-task-add-card{
    width: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 12px;
    animation: onShow 100ms;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 12px;

}

@keyframes onShow {
    from{
        top: 100%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}

.p-task-add-buttons{
    margin: 0 18px;
}

.checkbox-div{
    display: flex;
    flex-direction: row;
    margin: 0 16px;
    transition-duration: 100ms;
}

.checkbox-div:hover{
    transform: scale(1.02);
    transition-duration: 100ms;
    margin-left: 18px;
}

.p-task-checkbox{
    height: fit-content;
    padding: 2px;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid red;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding-right: 8px;
    padding-bottom: 4px;
}

.p-task-checkbox:checked{
    background-color: red;
}

.p-task-checkbox::before{
    content: "\2691  Flag as important";
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    color: rgb(255, 128, 128);
}


.p-task-checkbox:checked::before{
    color: white;
}


.p-task-desc-in{
    border: 0;
    padding-left: 0px;
    margin-top: 0px;
}

.p-task-title-in{
    margin: 0 18px;
    margin-top: 22px;
    padding: 0;
}

@media screen and (max-width: 580px){
    .p-task-title-in{
        margin: 0 18px;
        margin-top: 22px;
    }

    .p-task-desc-in{
        margin: 0 18px;
        height: 200px;
    }

    .checkbox-div{
        margin-bottom: -24px;
    }
}

@media screen and (max-width: 460px){
    .p-task-add-card{
        zoom: 80%;
    }
}