.newtask-page{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.newtask-card{
    width: 600px;
    height: 100px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: onShow 200ms;
}

.close-btn{
    width: 40px;
    height: 40px;
    color: gray;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0px;
    right: 6px;
}

.close-btn:hover{
    color: red;
    cursor: pointer;
}

.newtask-title{
    margin-top: 4px;
    margin-left: 12px;
}

.title-input{
    width: 85%;
    font-size: 24px;
    margin-top: -28px;
    margin-left: 12px;
    border: 0;
    border-bottom: 1px solid rgb(205, 205, 205);
    display: block;
    color: rgb(18, 18, 18);
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.task-add-btn{
    position: absolute;
    top: 0;
    font-size: 32px;
    height: 100%;
    background-color: rgb(113, 222, 113);
    padding: 0 8px;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
    color: white;
    transition: 200ms;
}

.task-add-btn:hover{
    padding: 0 12px;
    background-color: rgb(69, 198, 69);
    color: white;
    transition: 200ms;
    cursor: pointer;
}

@keyframes onShow {
    from{
        top: 100%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .newtask-card{
        width: 90vw;
    }
}

@media screen and (max-width: 425px){
    .newtask-card{
        width: 90%;
        height: fit-content;
        padding-bottom: 12px;
        padding-top: 8px;
    }
    
    .newtask-title{
        font-size: 28px;
    }
    .title-input{
        padding-top: 4px;
        font-size: 22px;
        padding-left: 0;
        width: 80%;
        padding-bottom: 0px;
        border: 0;
    }
    .title-input > input{
        padding-left: 0;
    }
}

@media screen and (max-width: 375px){
    .newtask-card{
        width: 90%;
    }
}