.main{
    margin-left: 360px;
    color: rgb(40, 40, 40);
    font-size: 24px;
   
}

.page{
    background-color: rgb(255, 255, 255);
    padding-top: 8px ;
    min-width: fit-content;
    height: fit-content;
    color: white;
    padding-right: 42px;
    margin-bottom: 52px;
}

.top-photo-url{
    position: absolute;
    left: auto;
    right: 52px;
    top: 52px;
    width: 48px;
    border-radius: 50%;
}

@media screen and (max-width: 830px) {
    .top-photo-url{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main{
        margin-left: 56px;
    }
    .page{
        width: fit-content;
        padding: 0;
        margin-right: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 375px) {
    .main{
        margin-left: 56px;
        zoom: 80%;
        margin-left: 66px;
        min-width: none;
        max-width: fit-content;
    }
    .page{
        width: fit-content;
        padding: 0;
        width: 95%;
        overflow-x: hidden;
    }
}

